@charset "utf-8";

header {
    background-color: rgb(114, 203, 255);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.top {
    text-align: center;
}

.top input[type="submit"] {
    background-color: rgb(112, 205, 50); /* ボタンの背景色をピンクに設定 */
    color: black; /* ボタンのテキスト色を白に設定 */
}