p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  
  .form-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .buttonB {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .buttonB:hover {
    background-color: #45a049;
  }