
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.product-info {
  display: flex;
  justify-content: center;
}


.product-details {
  text-align: center;
  margin: 20px;
}

.product-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}



.add-to-cart {
  border: 2px solid black;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.add-to-cart:hover {
  background-color: #45a049;
}
.soldout {
  border: 2px solid black;
  padding: 8px 16px;
  background-color: #d9d9d9;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
