h1{
    text-align:center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}
h1 {
    color: #333;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    padding:10px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    color: white;
}
/* kanrisya_itiran.css */

.rui {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logout{
    text-align: center;
    
}

.logout input[type="submit"] {
    background-color: #e74c3c; /* ログアウトボタンの色 */
    border-radius:5px;
}

.register{
    text-align: center;
    
}

.register input[type="submit"] {
    background-color: #27ae60; /* 登録ボタンの色 */
    border-radius:5px;
}

a{
    background-color: #e74c3c; /* 削除ボタンの色 */
    border-radius:5px;

}
