nav{
    border-bottom: 1px solid #a9a9a9;
    }
    nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
    nav ul li{
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #a9a9a9;
    }
    nav ul li:first-child{
    border-left: 1px solid #a9a9a9;
    }
    nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    }
    nav ul li a:hover{
    background-color:#b0e0e6;
    border-bottom: 5px solid #b0e0e6;
    }
    nav ul li.current{
    font-weight: bold;
    }
    nav ul li.current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
    }
    