menu{
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.kensaku{
    display: inline-block;
    text-align: center;
}

.button{
    display: inline-block;
    text-align: right;
}

.kensaku-btn{
    background-color:#87cefa;
    border-radius:10px;
    border:#87cefa 5px solid;
    padding: 5 5 10 10;
}

a{
    text-decoration: none;
  }
.menu {
    display: flex;
    align-items: center;
}

.menu a,
.menu form {
    margin-right: 10px; 
}