/* product.css */
/* 変更された product.css */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
} */

.product-cell {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column; /* 800px以下の場合は縦に並べる */
  }
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}


/* 以下は以前のスタイルが含まれる部分 */
/* .cart-table, .form-buttons, .buttonA, .buttonB, .total-section, .total-text など他のスタイルもここに含まれる */

p {
  color: red;
}

form {
  text-align: center;
  margin-top: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #adff2f;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.return-to-top {
  border: 2px solid black;
  padding: 8px 16px;
  background-color: #af634c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.return-to-top:hover {
  background-color: #af634c;
}

.product {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

