
.product-container {
  display: flex;
  flex-wrap: wrap; /* 折り返す */
}

.product-table {
  border-collapse: collapse;
  width: 100%;
}

.product-table img {
  max-width: 200px;
  height: auto;
}

.product-cell {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  flex: 0 0 calc(25% - 20px); /* 25%の幅、20pxの余白 */
  max-width: calc(25% - 20px); /* 25%の幅、20pxの余白 */
}

@media (max-width: 800px) {
  .product-cell {
    flex: 0 0 calc(50% - 20px); /* 50%の幅、20pxの余白 */
    max-width: calc(50% - 20px); /* 50%の幅、20pxの余白 */
  }
}

  p {
    color: red;
  }
  
  form {
    text-align: center;
    margin-top: 20px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #adff2f;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }

  
  
  