@charset "utf-8";

header{
    background-color: rgb(114, 203, 255);
}

h1 {
    text-align: center;
}


p{
    text-align: center;
}

.nyuryoku {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.back {
    text-align: center; /* 戻るボタンを左寄せに配置 */
}

.back input[type="submit"] {
    background-color: red; /* 登録ボタンの色 */
    border-radius:5px;
    text-decoration: none;
    padding:10px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    color: white;
}

.toroku {
    text-align: right; /* 登録ボタンを右寄せに配置 */
}

.toroku input[type="submit"] {
    background-color: #27ae60; /* 登録ボタンの色 */
    border-radius:5px;
    text-decoration: none;
    padding:10px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    color: white; /* ボタンのテキスト色を白に設定 */
}



