@charset "utf-8";

header{
    background-color: rgb(114, 203, 255);
}

.text-center {
    text-align: center; /* テキストを水平方向に中央配置 */
    display: flex;
    flex-direction: column;
    align-items: center; /* コンテンツを垂直方向に中央配置 */
}

h1 {
    text-align: center;
}


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.back {
    text-align: center; /* 戻るボタンを左寄せに配置 */
    padding: 40px 0;
}

.back input[type="submit"] {
    background-color: red; /* 登録ボタンの色 */
    border-radius:5px;
    text-decoration: none;
    padding:10px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    color: white;
}

.kakutei {
    text-align: right; /* 登録ボタンを右寄せに配置 */
    padding: 40px 0;
}

.kakutei input[type="submit"] {
    background-color: #27ae60; /* 登録ボタンの色 */
    border-radius:5px;
    text-decoration: none;
    padding:10px;
    margin-top:10px;
    border:none;
    cursor:pointer;
    color: white; /* ボタンのテキスト色を白に設定 */
}

.CustomerTable {
    text-align: center;
}